<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zpqnqb@tznvy.pbz</string>
	<key>contactName</key>
	<string>David Gasperoni</string>
	<key>description</key>
	<string>Tubster Theme (by someone I don't know but I respect much).
Light on dark with subtle colors.</string>
	<key>name</key>
	<string>Tubster</string>
	<key>uuid</key>
	<string>9C852EBB-E8AA-4F78-8803-5D2A71034074</string>
</dict>
</plist>
